ul li{
    list-style: none;
}
#menu{
    width: 960px;
    margin: 0px auto;
    background-color: aliceblue;
    font-size: 20px;
}
ul#main_menu {
    float: right;
}
ul#main_menu li{
    float: left;
}
ul#main_menu li a{
    padding: 12px 15px;
    text-decoration: none;
    color: #000;
}
#logo {
    float: left;
    height: 90px;
}
#logo img {
    height:100%;
    width: auto;
}
.clearfix{
    clear:both;
}
#header {
    border-bottom: 1px solid #968a8a;
    padding: 10px 0px;
}